* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
}

/* NAVBAR */
nav {
  background-color: #3e3c3c;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.nav-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

/* HEADLINE */
.headlineBackground {
  background-image: url(./assets/Illustration-header.png);
  background-color: #1c1a19;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;
}

.headlineWrapper {
  height: 100%;
}

.headlineIcons ul, 
.skills--title-container ul,
.icons1 ul {
  list-style: none;
}

.headlineIcons ul li {
  margin: 15px 0;
}

.headlineContent h1,
.headlineContent h2 {
  font-family: "Crete Round", serif;
  color: #f55800;
}

.headlineContent h1 {
  font-weight: 700;
  font-size: 72px;
}

.headlineContent h2 {
  font-weight: 600;
  font-size: 55px;
}

.headlineContent h3 {
  font-weight: 500;
  font-size: 32px;
}

.headlineContent p {
  font-weight: 400;
  font-size: 20px;
}

/* PORTFOLIO */
.portfolio {
  margin-bottom: 8%;
}

/* PORTFOLIO CONTENT */
.portfolioContent-title {
  height: 150px;
}

.portfolioContent-title h2 {
  margin-bottom: 0;
}

.portfolioContent-title p {
  margin-bottom: 0;
}

.portfolioContent-project h2 {
  color: #091e42;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.portfolioContent-project p {
  color: #091e42;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}

.portfolioContent-project ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  gap: 5px;
}

.portfolioContent-project ul li {
  color: #091e42;
  padding: 10px 12px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.portfolioContent-project button {
  background-color: #f55800;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

/* PORTFOLIO CARDS */
.portfolioCards .card {
  width: 30%;
  height: auto;
  padding: 0;
}

.portfolioCards .card-img-overlay {
  position: absolute;
  top: 115px;
}

.portfolioCards .card-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 44px;
}

.portfolioCards .card-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.portfolioCards .card-list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
}

.portfolioCards .card-list li {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
}

/* ABOUT CARDS */

.about{
  background-color: #1c1a19;
  background-image: url(./assets/illustration-about-desktop.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-y: 10%;
  
}

.content-txt{
  height: 50vh ;
  padding-top: 1%;
}

.about-title{
  font-family: "Crete Round", serif;
  font-size: 72px;
  margin: 100px auto 0 20px;
  color: #f55800;
}

.about-description {
  width: 50%;
  font-family: "Inter", sans-serif;
  margin: 20px;
  text-align: left;
  color: #fff;
}
.about-button {
  font-weight: bold;
  background-color: #ff6b00;
  color: #fff;
  height: 40px;
  width: 130px;
  justify-content: center;
  border-color: #ff6b00;
  margin-left: 20px;
}

.line{
  border: none;
  border-top: 2px solid #fff;
}

.skills--title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom:5%;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.skills-title {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  color: #fff;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: 10%;
}

.skills-title-head {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  margin-left: 10px;
}

.skill {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-weight: normal;
  font-size: 22px;
  margin: 20px 0;
}

.rhombus {
  margin: 7px;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ff6b00;
  transform: rotate(45deg);
  display: inline-block;
}

.square {
  margin: 7px;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ff6b00;
  display: inline-block;
}

.circle {
  margin: 7px;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #ff6b00;
  border-radius: 50%;
}

.footer {
  display: flex;
}

.titleFooter {
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 40px;
  width: 40vh;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #262626;
  margin-top: 10%;
}

.form {
  width: 60vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10%;
  margin-left: 5%;
}

.botn {
  background: #ff6b00;
  border-color: #ff6b00;
  font-family: "inter", serif;
  font-size: 17px;
  font-weight: bold;
  color: white;
  height: 40px;
  width: 130px;
}

.form-list {
  width: 100%;
  padding: 20px 20px 10px 20px;
  margin-right: 15px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid #dbd8d7;
}

.form-textarea {
  width: 100%;
  padding: 10px 0 100px 20px;
  border: none;
  background-color: #fbf8f7;
  resize: none;
  outline: none;
}

.icons11 {
  display: flex;
  margin-left: 40%;
}

.icon1 {
  margin: 5px;
}